
# Exclude all shared object files (compiled kernels)
build/
*.so
*.o
*.out
inference_benchmark

# Exclude the data and model weight directory 
data/
*.bin

# Exclude Visual Studio Code

.vscode/


# Python & Build Artifacts (Recommended)
__pycache__/
*.py[cod]
*~
dist/
*.egg-info/
.venv/
.env

# Linux Specific
core.*
